.quantity-input {
  width: 4em;
}
.h1-cart {
text-shadow: 2px 2px 4px #000000;
font-family: 'Arial', sans-serif;
font-size: 30px;
opacity: 0.70;
}

.product-list-title {
    border-bottom: 1px  solid;
    border-bottom-color: #5f5c5c;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

.product-total-title  {
    border-top: 1px solid #5f5c5c;
    padding-top: 10px;
    margin-top: 20px;
  }
