.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 0.5;
}


.footer .fa-github {
  color: #ff0000;
  /* Color negro/gris para GitHub, reemplázalo con el color corporativo si es diferente */
}

/* Instagram */
.footer .fa-instagram {
  color: #ff0000;
}

/* Facebook */
.footer .fa-facebook {
  color: #ff0000;
  /* Color azul de Facebook */
}

/* Twitter */
.footer  .fa-twitter {
  color: #ff0000;
  /* Color azul claro de Twitter */
}

/* LinkedIn */
.footer  .fa-linkedin {
  color: #ff0000;
  /* Color azul de LinkedIn */
}

.footer .footer-copyright {
color: #ff0000;

}

