.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100%;
  border-radius: 3%;
}

.navbar-nav .nav-link {
  padding: 5 15px;
}

.navbar-brand {
  padding: 0;
  width: 200px;
  height: auto;
}
