.product-image {
  width: 300px;
  height: 200;
  object-position: center;
  margin: 20px
}

.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.card-hover:not(:hover) {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.quantity-input {
  width: 4em;
}
